<!--开奖前-->
<div class="dialog-default dialog-open-before js-dialog-jishi">
    <div class="content">

    </div>
</div>

<!--开奖-->
<div class="dialog-default dialog-open  js-dialog-open">
    <div class="content">
        <div class="lotted-item ">
            <ul class="js-list-sx">
                <li data-type="1">鼠</li>
                <li data-type="2">牛</li>
                <li data-type="3">虎</li>
                <li data-type="4">兔</li>
                <li data-type="5">龙</li>
                <li data-type="6">蛇</li>
                <li data-type="7">马</li>
                <li data-type="8">羊</li>
                <li data-type="9">猴</li>
                <li data-type="10">鸡</li>
                <li data-type="11">狗</li>
                <li data-type="12">猪</li>
                <li data-type="1">鼠</li>
                <li data-type="2">牛</li>
                <li data-type="3">虎</li>
                <li data-type="4">兔</li>
                <li data-type="5">龙</li>
                <li data-type="6">蛇</li>
                <li data-type="7">马</li>
                <li data-type="8">羊</li>
                <li data-type="9">猴</li>
                <li data-type="10">鸡</li>
                <li data-type="11">狗</li>
                <li data-type="12">猪</li>
            </ul>
        </div>
        <div class="lotted-item ">
            <ul class="js-list-wx">
                <li data-type="13">金</li>
                <li data-type="14">木</li>
                <li data-type="15">水</li>
                <li data-type="16">火</li>
                <li data-type="17">土</li>
                <li data-type="13">金</li>
                <li data-type="14">木</li>
                <li data-type="15">水</li>
                <li data-type="16">火</li>
                <li data-type="17">土</li>
            </ul>
        </div>
        <div class="lotted-item">
            <ul class="js-list-td">
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
                <li data-type="18">天</li>
                <li data-type="19">地</li>
            </ul>
        </div>
    </div>
</div>

<div class="dialog-award js-dialog-award">
    <div class="content">

        <div class="paper">
             
            <p class="js-jb-geted"></p> 
        </div>
        <p class="pape-desc">恭喜您获得金币</p>
    </div>
</div>

<div class="dialog-default dialog-records js-dialog-records">
    <div class="content">
        <a href="javascript:;" class="butn-close js-butn-close"></a>
        <h3>开奖记录</h3>
        <ul>
        </ul>
    </div>
</div>


<div class="dialog-default dialog-records js-dialog-rule">
    <div class="content">
        <a href="javascript:;" class="butn-close js-butn-close"></a>
        <h3>游戏玩法</h3>
        <div class="text-rule">
            <p>游戏玩法游戏玩法游戏玩法游戏玩法游戏玩法游戏玩法游戏玩法</p> 
            
        </div>
    </div>
</div>