<!--下部导航区域-->
<div class="page-bottom">
    <p class="jb-title js-my-zs">
        
    </p> 
    <a href="/user/usercenter" class="my-jinbi js-my-total">0</a>
    <div class="betting-wrap">
        <div data-num="100" class="betting-block active js-betting-num">
            <div class="icon-jinbi"></div>
            <p>100</p>
        </div>
        <div data-num="500" class="betting-block js-betting-num">
            <div class="icon-jinbi"></div>
            <p>500</p>
        </div>
        <div data-num="1000" class="betting-block js-betting-num">
            <div class="icon-jinbi"></div>
            <p>1000</p>
        </div>
    </div>
    <a href="javascript:;" class="butn-cancel js-butn-cancel">
        <span></span>
    </a>
</div>