<div class="page-main" id="js-page-main">
    <!--<div class="item-20 " ></div>
    <div class="item-21"></div>
    <div class="lottery-item-20 js-lottery-item" data-type="20"></div>
    <div class="lottery-item-21 js-lottery-item" data-type="21"></div>
    -->
    <div class="tab-title js-tab-title">
        <a href="javascript:;" class="active"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
    </div>
    <div class="tab-panel active">
        <div class="lunpan-block">
            <div class="bottom-item-1 js-lottery-item-1"></div>
            <div class="bottom-item-2 js-lottery-item-2"></div>
            <div class="bottom-item-3 js-lottery-item-3">
                <div class="item-tian js-lottery-item" data-type="18"></div>
                <div class="item-di js-lottery-item" data-type="19"></div>
            </div>
            <div class="text-type"></div>
            <div class="betting-wraps" id="js-betting-all">
                <div data-type="1">
                    <span>0</span>
                </div>
                <div data-type="2">
                    <span>0</span>
                </div>
                <div data-type="3">
                    <span>0</span>
                </div>
                <div data-type="4">
                    <span>0</span>
                </div>
                <div data-type="5">
                    <span>0</span>
                </div>
                <div data-type="6">
                    <span>0</span>
                </div>
                <div data-type="7">
                    <span>0</span>
                </div>
                <div data-type="8">
                    <span>0</span>
                </div>
                <div data-type="9">
                    <span>0</span>
                </div>
                <div data-type="10">
                    <span>0</span>
                </div>
                <div data-type="11">
                    <span>0</span>
                </div>
                <div data-type="12">
                    <span>0</span>
                </div>
                <div data-type="13">
                    <span>0</span>
                </div>
                <div data-type="14">
                    <span>0</span>
                </div>
                <div data-type="15">
                    <span>0</span>
                </div>
                <div data-type="16">
                    <span>0</span>
                </div>
                <div data-type="17">
                    <span>0</span>
                </div>
                <div data-type="18">
                    <span>0</span>
                </div>
                <div data-type="19">
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-panel  js-tab-2">
        <div class="beishu"></div>
        <div class="tab-child">
            <ul class="lottery-item-3">
                
            </ul>
        </div>
        
    </div>
    <div class="tab-panel tab-3  js-tab-3">
        <div class="beishu"></div>
        <div class="tab-child">
            <ul class="lottery-item-3">
               
            </ul>
        </div>
        
    </div>
</div>

<!--<div class="test"></div>-->

