<div class="page-header">
    <a href="javascript:;" class="butn-menu js-butn-menu"></a>
    <a href="javascript:;" class="butn-help js-butn-help"></a>
    <div class="prev-betting">
        <p>上期</p>
        <p class="title js-prev">
            <span>地</span>    
            <span>地</span>    
            <span>地</span>    
        </p> 
    </div>
    <div class="next-time">
        <p>投注剩余时间</p>
        <p class="title">
             <span class="js-count-time"></span>s
        </p> 
    </div>
</div>